#------------------------------------------------------------------------
# Load Development Spack Environment (If Spack is installed.)
#
# Run 'direnv allow' from within the cloned repository to automatically
# load the spack environment when you enter the directory.
#------------------------------------------------------------------------
if type spack &>/dev/null; then
    . $SPACK_ROOT/share/spack/setup-env.sh
    spack env activate -d .
fi
