[submodule "_spack_root"]
	path = _spack_root
	url = https://github.com/spack/spack.git
	branch = releases/v1.0
[submodule "_spack_packages"]
	path = _spack_packages
	url = https://github.com/spack/spack-packages
	branch = releases/v2025.07