# These dependencies should be installed using pip in order
# to build the documentation.
sphinx==7.3.7
sphinxcontrib-programoutput==0.17
sphinx-rtd-theme==2.0.0
sphinx-copybutton==0.5.2
python-levenshtein==0.25.1
docutils==0.21.2
pygments==2.18.0
