# These dependencies should be installed using pip in order
# to build the documentation.
Sphinx==8.2.3
sphinxcontrib-programoutput==0.18
furo==2025.7.19
sphinx-copybutton==0.5.2
python-levenshtein==0.27.1
docutils==0.22
Pygments==2.19.2
