# These dependencies should be installed using pip in order
# to build the documentation.
Sphinx==8.1.0
sphinxcontrib-programoutput==0.17
sphinx-rtd-theme==3.0.1
sphinx-copybutton==0.5.2
python-levenshtein==0.25.1
docutils==0.20.1
Pygments==2.18.0
