# This is a Spack Environment file.
#
# It describes a set of packages to be installed, along with
# configuration setings.
spack:
  # add package specs to the `specs` list
  specs:
    - matrix:
        - [boost, trilinos+hdf5]
        - [^mpich, ^mvapich2 fabrics=mrail]
        - ['%gcc', '%clang']

  view: false
  concretizer:
    unify: false