name: build docs

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      with:
        submodules: recursive
    - uses: actions/setup-python@65d7f2d534ac1bc67fcd62888c5f4f3d2cb2b236
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        sudo apt-get install graphviz
        pip install --upgrade pip
        pip install --upgrade -r requirements.txt
    - name: Build docs
      run: |
        make clean --silent
        make SPHINXOPTS="-W"
    - uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32
      with:
        name: html
        path: _build/html/
